<html>
    <body>
        <div align='center'>
        <img src="{{url_for('live')}}" >
        </div>
    
        <form method=post>
            <input type="submit" name="submit_button" value={{mod}}>
            <input type="submit" name="submit_button" value="yt+">
            <input type="submit" name="submit_button" value="yt-">
            <input type="submit" name="submit_button" value="w+">
            <input type="submit" name="submit_button" value="w-">
            <input type="submit" name="submit_button" value="del-">
            <input type="submit" name="submit_button" value="del+">
            <input type="submit" name="submit_button" value="song1">
            <input type="submit" name="submit_button" value="song2">
            <input type="submit" name="submit_button" value="song3">
            <p><span style="color:#e74c3c"><span style="background-color:#ffff99"><strong>Values</strong> :&nbsp;yt={{yt}},w={{w}},del={{delay}}</span></span></p>
        </form>
    </body>
</html>
